body {
    background-color: #deebf7;
    font-family: 'Courier New', Courier, monospace;
    color: #063068 ;
}

h1, h2 {
    text-align: center;
}

p {
    font-size: 16px;
}

.highlight {
    background-color: #063068;
    color: #deebf7;
    padding: 0 4px;
}

.center {
    text-align: center;
}

#intro-paragraph {
    font-weight: bold;
}

#explain {
    font-weight: bold;
    font-style: italic;
}

#free_explained {
    display: flex;
    gap: 20px;
}

